h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  margin-top: 50px;
  font-size: 20px;
  font-style: normal;
  flex-wrap: wrap;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-size: 25px;
}
